
# Base URL of the aqie-back-end service providing /measurements
AQIE_BACKEND_URL=http://localhost:3001

# Overrides the DEFRA SOS feed base URL if needed
#SOS_URL=

# Password for basic authentication (only enforced when running in production mode)
PASSWORD=
