{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Search" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get air pollution data</h1>

    <p class="govuk-body-l">
      Find a monitoring station and view the last 24 hours of hourly pollutant
      readings.
    </p>

    <form method="get" action="/stations" novalidate>
      {{ govukInput({
        label: {
          text: "Enter a town, postcode or monitoring station name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: { text: "For example, Ipswich, NW1 6XE or Marylebone Road" },
        classes: "govuk-!-width-two-thirds",
        id: "q",
        name: "q"
      }) }}

      {{ govukButton({ text: "Search" }) }}
    </form>

  </div>
</div>

{% endblock %}
